<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naura - Portfolio</title>
    <link rel="icon" href="{{ url_for('static', filename='images/rose.webp')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unlock&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&family=Unlock&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Adamina&family=Concert+One&family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&family=Unlock&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h1>Naura Alifa</h1>
            <h2>Student at Senior High School 1 Purworejo</h2>
            <p>I am a 12th-grade high school student with a strong<br>interest in science. Currently, I am taking physics, chemistry,<br>biology, and mathematics to deepen my understanding in<br>academic fields and prepare myself for higher education.</p>
            <nav>
                <ul>
                    <li class="active"><a href="#about">About</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#achievement">Achievement</a></li>
                    <li><a href="#education">Education</a></li>
                </ul>
            </nav>
        </div>

        <div class="right-section">
            <section id="about" class="about">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </section>
            <section id="experience" class="experience">
                <h2 class="underline">Experiences</h2>
                <div class="experience-content">
                    <p><strong>Student Council</strong></p>
                        <ul>
                            <li>Creativity and Entrepreneurship division in 2019-2020</li>
                            <li>Human rights division in 2021-2022</li>
                        </ul>
                </div>
                <div class="experience-content">
                    <p><strong>Ganesha Theatre</strong></p>
                        <ul>
                            <li>Cast of theatre in Schooltofest 2022</li>
                        </ul>
                </div>
                <div class="experience-content">
                    <p><strong>Association Red Cross of Smansa</strong> </p>
                        <ul>
                            <li>Event division</li>
                        </ul>
                </div>
                <div class="experience-content">
                    <p><strong>Scout</strong></p>
                        <ul>
                            <li>Science service 2024</li>
                        </ul>
                </div>
            </section>
            <section id="achievement" class="achievement">
                <h2 class="underline">Achievement</h2>
                <div class="achievement-content">
                    <p><strong>Art</strong></p>
                        <ul>
                            <li>3rd place of district level Cooperative Day Competition</li>
                            <li>2nd place of Hilo School Drawing Competition</li>
                        </ul>
                </div>
                <div class="achievement-content">
                    <p><strong>Social Science</strong></p>
                        <ul>
                            <li>Gold medalist of Indonesian Science Competition 2021</li>
                            <li>Gold medalist of Genius Science Competition 2021</li>
                        </ul>
                </div>
                <div class="achievement-content">
                    <p><strong>Religion</strong></p>
                        <ul>
                            <li>1st place district level Islamic Religious Education and Islamic Arts Subjects</li>
                        </ul>
                </div>
                <div class="achievement-content">
                    <p><strong>Math</strong></p>
                        <ul>
                            <li>3rd place of district level National Science Olympiad</li>
                            <li>Silver medalist of National Education Day Competition 2023</li>
                            <li>Bronze medalist of National Science Championship 2024</li>
                            <li>Bronze medalist of National Science Olympiad Festival 2023</li>
                        </ul>
                <div class="achievement-content">
                    <p><strong>Informatics</strong></p>
                        <ul>
                            <li>Gold medalist of Indonesian Student Olympiad 2023</li>
                            <li>Silver medalist of National Science Olympiad Festival 2024</li>
                            <li>Silver medalist of National Science Championship 2023</li>
                        </ul>
                </div>
            </section>
            <section id="education" class="education">
                <h2 class="underline">Education</h2>
                <div class="education-content">
                    <ul>
                        <li><strong>Elementary School</strong><br>Pangen Gudang Elementary School</li>
                    </ul>
                    <ul>
                        <li><strong>Junior High School</strong><br>Junior High School 2 Purworejo</li>
                    </ul>
                    <ul>
                        <li><strong>Senior High School</strong><br>Senior High School 1 Purworejo</li>
                    </ul>
                </div>
            </section>
            <section id="educations" class="educations"></section>
        </div>
    </div>
</body>
</html>